@model IEnumerable<RankingAppTT.ViewModel.ItemViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>ItemViewModel</h4>
    <hr />
    @foreach (var item in Model)
    {

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.ImageId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.ImageId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.Ranking)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Ranking)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.ItemType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.ItemType)
            </dd>
        </dl>
    }

    <div>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
    </div>


